body {
    color:white;
    background:black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

#mode-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#mode-toggle span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

#mode-toggle span:first-child {
  transform: translateX(0);
}

#mode-toggle span:last-child {
  transform: translateX(100%);
}

#mode-toggle:hover span:first-child {
  transform: translateX(-100%);
}

#mode-toggle:hover span:last-child {
  transform: translateX(0);
}

body.dark-mode #mode-toggle span:first-child {
  transform: translateX(-100%);
}

body.dark-mode #mode-toggle span:last-child {
  transform: translateX(0);
}

header {
    border-bottom: solid 2px rgb(138, 175, 222);
    padding: 20px;
    font-size: 32px;
    color: rgb(138, 175, 222);
}

.titulo:hover {
  opacity: 0.8;
  transform: scale(1.08);
  justify-content: left;
  margin: 15px;
  transition: transform 0.3s ease;
}


.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}
p {
    front-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px
    margin-top: 70px;
    color: rgb(138, 175, 222);
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(184, 156, 213);
    transition: 0.5s ease;
  border: none;
  margin: 10px;
  transform: scale(1.1);
}


.categoria h2 {
   color: rgb(138, 175, 222) 
}
.subcategoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.subcategoria {
    padding-left: 20px;
    padding-right: 20px
    margin-top: 50px;
    color: rgb(138, 175, 222);
}

.subcategoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.subcategoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(184, 156, 213);
    transition: 0.5s ease;
  border: none;
  margin: 10px;
  transform: scale(1.1);
}

.subcategoria h2 {
   color: rgb(138, 175, 222) 
}
